.bar {
    width:5px;
    background:rgb(104, 174, 231);
    display:inline-block;
    margin-left:3px;
}
.actionBtn {
    width:100px;
    margin-right:10px;
}
.chartContainer {
    height: 560px;
    border-left: solid rgb(184, 182, 182);
    border-bottom: solid rgb(184, 182, 182);
}