<div class="container pt-5" style="min-width:1150px">
  <div class="row">
    <div class="col-sm-8 chartContainer">
      <div class="bar" [style.height.px]="num" *ngFor="let num of randomNums"></div>
    </div>
    <div class="col-sm-4">

      <div class="row">
        <select class="form-control" name="" id="" (change)="EnableGo($event)">
          <option value="" disabled selected>Select a Sorting Algorithm</option>
          <option value="quick">Quick Sort</option>
          <option value="bubble">Bubble Sort</option>
          <option value="merge">Merge Sort</option>
        </select>
        
        
        <select class="form-control mt-3" name="" id="" (change)="SetSpeed($event)">
          <option value="" disabled selected>Select a Speed</option>
          <option value="0">Full</option>
          <option value="20">Fast</option>
          <option value="150">Medium</option>
          <option value="500">Slow</option>
        </select>
      </div>

      <div class="mt-5">
        <div class="text-center">
            <button class="btn btn-success actionBtn" [disabled]="!enableGo" (click)="Sort()">Go</button>
            <button class="btn btn-primary actionBtn" (click)="GenerateNumbers()">Shuffle!</button>
        </div>      
      </div>
    </div>
    
  </div>

  
</div>

