<div class="container">
  
  <div class="actionBar">
    <div class="row">
      <div class="col-sm-6">
        <div class="setButton"><button class="btn btn-success" (click)="enableStartSet()">Set Start</button></div>
        <div class="setButton"><button class="btn btn-primary" (click)="enableEndSet()">Set End</button></div>        
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="selectControl">
              <select class="form-control" name="" id="" (change)="EnableGo($event)">
                  <option value="" disabled selected>Select a Pathing Algorithm</option>
                  <option value="dijkstra">Dijkstra</option>
                  <option value="astar">A*</option>
                </select>
          </div>
          <div class="selectControl">
              <select class="form-control" name="" id="" (change)="SetSpeed($event)">
                  <option value="" disabled selected>Select a Speed</option>
                  <option value="0">Full</option>
                  <option value="20">Fast</option>
                  <option value="150">Medium</option>
                  <option value="500">Slow</option>
                </select>
          </div>
      
          <div>
            <div class="text-center">
                <button class="btn btn-success actionBtn" [disabled]="!enableGo" (click)="Pathfind()">Go</button>
            </div>      
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="grid-container">
      <div style="height: 30px" *ngFor="let row of grid; let i = index">
        <div [className]="col?.start ? 'block startNode' : col?.end ? 'block endNode' : 'block'" 
              *ngFor="let col of row; let j = index" attr.id = "{{i}}_{{j}}" [attr.data-x]=i [attr.data-y]=j 
              (click)="allowSetEnd ? setEnd($event) : allowSetStart ? setStart($event) : null">
          
        </div>
      </div>
      
  </div>      
    
</div>